.btn-vc-exterior{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.btn-mat-icon {
    font-size: 1.25rem;
    margin-bottom: -4px;
    line-height: unset;
}