<form #myForm="ngForm">

    <div class="container form-group">
        <div class="body-panel">
            <div class="text-uppercase">Select A Model </div>
            <hr>
            <div class="row  mb-3">
                <div class="col-sm-3">
                    <div>
                        <label for="year" class="form-label">Year:</label>
                        <select required #year="ngModel" class="form-select" name="year" [(ngModel)]="selectedYear"
                            (change)="onYearChange()">
                            <option value="" selected>Select Year</option>
                            <option *ngFor="let desc of years" [value]="desc">{{desc}}</option>
                        </select>
                        <div *ngIf="!isYearSelected" class="text-danger">Please Select Year</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div *ngIf="selectedYear">
                        <label for="make" name="lblMake" class="form-label">Make:</label>
                        <select id="make" name="make" class="form-select" [(ngModel)]="selectedMake"
                            (change)="onMakeChange()">
                            <option value="0" selected>Select Make</option>
                            <option *ngFor="let make of devisions" [value]="make.divisionId">{{ make.divisionName }}
                            </option>
                        </select>
                        <div *ngIf="!isMakeSelected" class="text-danger">Please Select Make</div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div *ngIf="selectedMake">
                        <label for="model" class="form-label">Model:</label>
                        <select id="model" name="model" class="form-select" (change)="loadStyleSearch()"
                            [(ngModel)]="selectedModel">
                            <option value="0" selected>Select Model</option>
                            <option *ngFor="let model of models" [value]="model.modelId">{{ model.modelName }}</option>
                        </select>
                        <div *ngIf="!isModelSelected" class="text-danger">Please Select Model</div>
                    </div>

                </div>

            </div>
        </div>

        <!-- <div class="col-sm-12"  class="invisible">
            <div class="row mb-3">
                <div>
                    <button type="submit"  class="btn btn-success me-2 float-end col-sm-3">
                        <span *ngIf="!isLoading">
                         Search <mat-icon iconPositionEnd class="btn-mat-icon">search</mat-icon>
                        </span>
                        <span *ngIf="isLoading">
                            <i class="spin" data-feather="loader" appFeatherIcon>Searching...</i>
                        </span>
                    </button>
                </div>
            </div>
        </div> -->

        <div *ngIf='styles'>
            <app-vehicle-search-table [dataSourceStyleSearch]="styles"></app-vehicle-search-table>
        </div>
        <div *ngIf="isLoading" class="overlay">
            <mat-progress-spinner mode="indeterminate" class="matLoader"></mat-progress-spinner>
        </div>
    </div>
</form>


<div *ngIf="displayMessage" class="text-center">
    <div class="alert alert-danger" role="alert">
        <p>{{displayMessage}}</p>
    </div>
</div>