
        <div class="container">

            <div class="row">
                <div class="col-sm-12">

                    <div class="md-4">
                        <div>
                            <label for="year" class="form-label">Select Year:</label>
                            <select #year class="form-select" [(ngModel)]="selectedYear"  (change)="onYearChange()">
                                <option value="0"  selected>Select Year</option>
                                <option *ngFor="let desc of years" [value]="desc">{{desc}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="md-4">
                      <div *ngIf="selectedYear"> 
                            <label for="make" class="form-label">Select Make:</label>
                            <select id="make" class="form-select"  [(ngModel)]="selectedMake"  (change)="onMakeChange()">
                                <option value="0"  selected>Select Make</option>
                                <option *ngFor="let make of devisions" [value]="make.divisionId">{{ make.divisionName }}</option>
                            </select>
                        </div> 

                    </div>
                    <div class="md-4">
                        <div *ngIf="selectedMake">
                            <label for="model" class="form-label">Select Model:</label>
                            <select id="model" class="form-select"  [(ngModel)]="selectedModel">
                                <option value="0"  selected>Select Model</option>
                                <option *ngFor="let model of models" [value]="model.modelId">{{ model.modelName }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
 