<div class="main-wrapper">



    <div class="page-wrapper">
  
      <!-- partial:navbar -->
      <!-- <app-navbar></app-navbar> -->
      <!-- partial -->
      <a routerLink="/" class="sidebar-brand">
        <img src="assets/images/companyLogo1.png" alt="logo">
      </a>
  
      <div class="page-content">
  
        <!-- Spinner for lazyload modules -->
        <div *ngIf="isLoading" class="spinner-wrapper">
          <div class="spinner">Loading...</div>
        </div>
  
        <div contentAnimate *ngIf="!isLoading" class="page-router-content">
          <router-outlet></router-outlet>
        </div>
  
      </div>
  
      <!-- partial:footer -->
      <app-footer></app-footer>
      <!-- partial -->
  
    </div>
  
  
  </div>