.btn-text-blue {
    color: blue !important;
}

.float-right{
    float: right !important;
}

.btn-mat-icon {
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 1.25rem !important;
    margin-bottom: 3px !important;
}