
<mat-vertical-stepper [linear]="true" #stepper >
    <mat-step label="Vehicle" completed="true">
        <div class="row mb-3">
            <div class="col-12 col-md-8">
                Vehicle Selection
            </div>
        </div>
        
            <app-vehicle></app-vehicle>
 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Factory" completed="false">
        Factory Setup

 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Compare" completed="false">
    
 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Uplifting" completed="false">
 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div></mat-step>
    <mat-step label="Price" completed="false">
	 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
</mat-step>
    <mat-step label="Financing" completed="false">
	 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
</mat-step>
    <mat-step label="Summary" completed="false">
	 <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
</mat-step>
  <mat-step>
    <ng-template matStepLabel>Finish</ng-template>
    Generate Report
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>